---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'A',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    image={{
      src: '/src/assets/images/apropos.jpg',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      À propos de
      <span class="text-accent highlight">GILACCESS</span>
    </Fragment>

    <Fragment slot="subtitle"
      >Notre équipe d'experts qualifiés combinent innovation technologique et savoir-faire artisanal pour offrir des
      solutions qui répondent aux besoins spécifiques de chaque client. Que vous recherchiez une automatisation simple
      et pratique pour votre domicile ou une solution complexe pour votre entreprise, GILACCESS est votre partenaire de
      confiance pour des installations fiables et durables.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistiques"
    stats={[
      // { title: 'Bureau', amount: '2' },
      { title: 'Partenaires', amount: '7' },
      { title: 'Employes', amount: '100' },
      { title: 'Chantiers', amount: '50' },
    ]}
  />
  <br /><br />

  <WidgetWrapper>
    <Headline title="Nos partenaires" />

    <div class="flex flex-row">
      <div class="aspect-w-8 aspect-h-5 flex flex-row gap-10">
        <div class="flex-1">
          <img src="/src/assets/images/partenaire1.jpg" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
        <div class="flex-1">
          <img src="/src/assets/images/partenaire2.jpg" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
        <div class="flex-1">
          <img src="/src/assets/images/partenaire3.jpg" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
        <div class="flex-1">
          <img src="/src/assets/images/partenaire4.jpg" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
        <div class="flex-1">
          <img src="/src/assets/images/partenaire5.png" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
        <div class="flex-1">
          <img
            src="/src/assets/images/partenaire6.jpeg"
            alt="Description de l'image"
            style={{ borderRadius: '10px' }}
          />
        </div>
        <div class="flex-1">
          <img src="/src/assets/images/partenaire7.png" alt="Description de l'image" style={{ borderRadius: '10px' }} />
        </div>
      </div>
    </div>
  </WidgetWrapper>
  <br /><br />
</Layout>
