---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: '',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ text: 'Savoir plus', href: '#features' }]}
    image={{ src: '~/assets/images/hero.png', alt: 'Image' }}
  >
    <Fragment slot="title">
      Bienvenue chez
      <span class="text-accent highlight">GILACCESS</span>, où l'avenir est automatisé et les possibilités sont
      illimitées.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Explorez</span> notre éventail de solutions d'automatisation conçues pour libérer votre
        potentiel, transformer vos processus et ouvrir de nouveaux horizons pour votre entreprise.</span
      >
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="Nos services"
    items={[
      {
        title: 'Automatismes',
        description: "Pose et installation d'ascenceurs",
        icon: 'tabler:focus-auto',
      },
      {
        title: 'Portail, portes de garage',
        description:
          'Notre équipe qualifiée et expérimentée assure une pose précise et sécurisée, garantissant le bon fonctionnement de vos équipements.  ',
        icon: 'tabler:components',
      },
      {
        title: 'Domotique, alarmes, caméra',
        description:
          'Un ensemble de technologies et de systèmes intégrés visant à automatiser et à améliorer les fonctions domestiques.',
        icon: 'tabler:settings-automation',
      },
      {
        title: 'Accessibilité de Personne à Mobilité Réduite',
        description:
          'Nous nous engageons à offrir des solutions de portails et portes de garage parfaitement accessibles aux Personnes à Mobilité Réduite (PMR).',
        icon: 'tabler:home-shield',
      },

      {
        title: 'Photovoltaïque',
        description:
          "Nous offrons des solutions personnalisées pour répondre à vos besoins énergétiques, comme notre service d'installation de panneaux photovoltaïques.",
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Chantiers', amount: '50' },
      { title: 'Clients satisfaits', amount: '100' },
      { title: 'Partenaires', amount: '20' },
      { title: "Années d'expérience", amount: '20' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Découvrez "
    items={[
      {
        title: 'Domotique',
        description:
          "Gestion de l'énergie, sécurité et surveillance, contrôle d'accès, gestion de l'eau, accessibilité. ",
      },
      {
        title: 'Alarmes',
        description:
          "Alarmes anti-intrusion, alarmes incendie et de fumée, alarmes de monoxyde de carbone, alarmes de fuite d'eau, alarmes de gaz, alarmes médicales ",
      },

      {
        title: 'Caméra',
        description:
          "Surveillance en direct, enregistrement vidéo, détection de mouvement, vision nocturne, intégration avec d'autres systèmes, communication bidirectionnelle, protection de la vie privée  ",
      },
    ]}
    image={{
      src: '/src/assets/images/img1.jpg',
      alt: 'Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Portails',
        description:
          "L'intégration de la domotique dans la pose de portails offre une multitude d'avantages tant en termes de fonctionnalité que de sécurité. Les portails intelligents permettent un contrôle à distance, une programmation automatique et une surveillance à distance, offrant ainsi une expérience utilisateur améliorée.",
      },
      {
        title: 'Portes de garage',
        description:
          "Les portes de garage intelligentes permettent un contrôle à distance, une automatisation des horaires d'ouverture et de fermeture, ainsi qu'une surveillance à distance via des applications mobiles.",
      },
      {
        title: 'Panneaux photovoltaïques',
        description:
          "Nous offrons des solutions personnalisées pour répondre à vos besoins énergétiques, comme notre service d'installation de panneaux photovoltaïques. Que ce soit pour réduire votre empreinte carbone, diminuer votre facture d'électricité ou devenir plus indépendant sur le plan énergétique.",
      },
    ]}
    image={{
      src: '/src/assets/images/img2.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Monte-escaliers',
        // description:'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Ascenseurs privatifs',
        // description:'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Plates-formes élévatrices',
        // description:'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
    ]}
    image={{
      src: '/src/assets/images/img3.jpg',
      alt: 'Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Accessibilité de Personne à Mobilité Réduite
      </h3>
      Nous nous engageons à rendre nos installations accessibles à tous, y compris aux Personnes à Mobilité Réduite (PMR).
      Notre priorité est de garantir que nos produits et nos installations répondent aux normes d'accessibilité les plus
      strictes.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Obtenez votre devis en quelques étapes"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Demandez votre devis</span>',
        description:
          'Fournissez une description détaillée de votre projet ou de vos besoins lors de la demande de devis.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Recevez votre devis</em>',
        description: 'Attendez la réponse des fournisseurs.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Valider votre devis</span>',
        description: 'Une fois que vous avez choisi votre devis, confirmez votre décision',
        icon: 'tabler:paint',
      },
      {
        title: 'Et voila!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '/src/assets/images/img4.jpg',
      alt: 'Steps image',
    }}
  />
</Layout>
